@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{

}

Body{
    font-family: 'Roboto', sans-serif;
}

.container{}

.row{
    display: flex;
    flex-wrap: wrap;
}
img{
    max-width:100%;
}
.col-3{
 display: flex;
    flex-basis: 50%;

}


/*++++++++++++
header css
++++++++++++*/
header{
    border-bottom: 2px solid #3b506c26;
}
header.row{
    align-items: center;
    
}
.logo{
    flex-basis: 20%;
    max-width: 20%;
}
.logo a{}
.logo a img{}
nav{
    flex-basis: 80%;
    max-width: 80%;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
nav ul li{}
nav ul li a{
    
display: block;
    
color: #3b506c;
    
padding: 10px 15px;
    
text-transform: capitalize;
    
text-decoration: none;
    
font-weight: 400;
    
font-size: 20px;
}
nav ul li a:hover{}



/*++++++++++++
banner section css
++++++++++++*/
.banner-section{
    padding: 50px 0;
}
.content{
    text-align: center;
    
}
.content h1{
    font-size: 60px;
    color: #2c3d54c9;
}
.content h1 span{
    display: block;
    color: #0C66FF;
}
.content img{
    max-width: 500px;
}
.content p{
    color: #3b506c;
    max-width: 800px;
    font-weight: 300;
    font-size: 19px;
    margin:   20px auto;
}
.text-right{
    text-align: right;
}

/* feature-section css */
 .feature-section{}
 .feature-section .row{
    
justify-content: center;
 }
.feature-content{
    margin-right: 20px;
}
.feature-content h2{
    font-size: 55px;
    color:  #2c3d54c9;
    line-height: 1;
    font-weight: 400;
    margin: 0px;
}
.pargraph{
    display: flex;
    flex-basis: 50%;
}
.col-3{
    display: flex;
   flex:1 0 33.33% ; 

}
.feature-content h2 span{color: red;}
.feature-content p{
    font-weight: 400;
    font-size: 19px;
    margin: 5px auto;
    color: #3b506c;
}

/* blog-section css */

.blog-section{
    padding: 50px 0;
}
.post{
    padding:  30px 10px;
    box-shadow: darkseagreen;
}
.illustration-5{
    BACKGROUND: #FDEBED;
    text-align: center;
}
.illustration-6{
    BACKGROUND: #EBF9F4;
    margin: 0px 30px;
    text-align: center;
}
.illustration-7{
    BACKGROUND: #FFF7E8;
    text-align: center;
}
.post h3{
    font-size: 24px;
    color: #2c3d54c9;
    line-height: 1;
    font-weight: 600;
}
.post p{
  
color: #3b506cdb;
  
margin: 5px auto;
  
font-size: 17px;
  
font-weight: 400;
}
.post img{
    max-height: 160px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

/* footer */
footer{
    background: #0C66FF;
    text-align: center;
    padding: 30px 0;
}
footer p{
    color: #ffffff87;
}
footer p strong{
    color: #fff;
    letter-spacing: 3px;
} 